EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID="seu-web-client-id-aqui.apps.googleusercontent.com"
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID="seu-ios-client-id-aqui.apps.googleusercontent.com"
EXPO_PUBLIC_GOOGLE_ANDROID_CLIENT_ID="seu-android-client-id-aqui.apps.googleusercontent.com"
